.container-backface {
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    position: relative;
}

.container-backface:hover {
    transform: rotateY(180deg);
}

.item-backface {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    backface-visibility: hidden;
}
.front{
    background-color: grey;
}
.back{
    background-color: greenyellow;
    transform: rotateY(180deg);
}