.container-transformstyle {
    position:relative;
    width: 100px;
    height: 100px;
    border: 5px solid hotpink;
    perspective: 100px;
}
.item-transformstyle {
    position:absolute;
    width: 100px;
    height: 100px;
    background-color: papayawhip;
    border: 3px solid hotpink;
    opacity: 0.5;
    transform-style: preserve-3d;
    transform: rotateX(40deg);
}